<% content_for :cal do %>
  <div class="container">
    <div class="row">
      <div class="threecol"><%= link_to "Archive", archive_path, :remote => true, :class => "yesterday_link" %></div>
      <div class="fivecol active">
        <%= link_to "Today", articles_path, :remote => true, :class => "today_link" %>
      </div>

      <% if @read_in > 0 %>
        <%= javascript_include_tag "timer" %>
        <div class="fourcol last"><div class="timer"><div class="time"><span id="minutes"><%= @read_in < 10 ? ("0"+@read_in.to_s) : @read_in %></span>:<span id="seconds">00</span></div><div class="timer_desc">minutes before you can read any article</div></div></div>
      <% end %>

    </div>
  </div>
<% end %>


<ul id="articles" class="articles">
  <%= render @articles %>
  <%= render @readed_articles_today %>
</ul>
<div class="readed_box">
</div>
