
<% content_for :javascript do %>
  <%= javascript_include_tag "resizer" %>
<% end %>

<% flash.each do |key, value|%>
 <div class ="flash <%= key %>"><%= value %></div>
<% end %>

<% content_for :top do %>
    <% if !last_read_article.nil? && last_read_time > 0%>
      <div class="overlay"></div>
      <%= javascript_include_tag "timer" %>
      <div class="timer">
        <div id="fakeSeconds"><%= last_read_time %></div>
        <div class="timer-box">
          <div class="time">
            <span id="minutes"><%= @timer_minutes < 10 ? "0" + @timer_minutes.to_s : @timer_minutes %></span>:<span id="seconds"><%= @timer_seconds < 10 ? "0" + (@timer_seconds).to_s : @timer_seconds %></span>
          </div>
          <div class="timer_desc">minutes before you can read any article</div>
        </div>
      </div>
    <% end %>
<% end %>

<ul id="articles" class="articles">
  <%= render @articles %>
  <%= render @readed_articles_today %>
</ul>

<h3>Popular articles</h3>
<ul id="popular_articles" class="articles">
  <!-- Code for popular articles goes here -->
</ul>
