<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
		<%= f.label 'Number of articles you want to add' %>
		<%= f.select(:articles_quantity, @articles_quantity_out) %>
  </div>
	<div class="field">
		<%= f.label 'Interval between readings your articles (in minutes)' %>
		<%= f.select(:interval_between_readings, @interval_between_readings_out) %>
  </div>
	<div class="field">
		<%= f.label 'Time for reading of each article (in minutes)'%>
		<%= f.select(:time_for_reading, @time_for_reading_out) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

