<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
		<%= f.label 'Number of articles you want to add' %>
		<%= select(:f, :articles_quantity, [['5', 1], ['10', 2], ['20', 3]]) %>
  </div>
	<div class="field">
		<%= f.label 'Interval between readings your articles (in minutes)' %>
		<%= select(:f, :interval_between_readings, [['25', 1], ['45', 2], ['50', 3]]) %>
  </div>
	<div class="field">
		<%= f.label 'Time for reading of each article (in minutes)'%>
		<%= select(:f, :time_for_reading, [['5', 1], ['10', 2], ['15', 3]]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
