<% content_for :javascript do %>
  <%= javascript_include_tag "javascripts/codemirror/lib/codemirror.js" %> 
  <link rel="stylesheet" href="/assets/codemirror/lib/codemirror.css">
  <%= javascript_include_tag "javascripts/codemirror/mode/css/css.js" %>
  <link rel="stylesheet" href="/assets/codemirror/theme/default.css">
<% end %>

<script type="text/javascript" language="javascript"> 
  var myCodeMirror = CodeMirror.fromTextArea(domain_custom_css);
</script>

<%= form_for(@domain) do |f| %>
  <% if @domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul>
      <% @domain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.admin? %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :rule %><br />
    <%= f.text_area :rule %>
  </div>
  <div class="field">
    <%= "Custom CSS rule:" %>
    <% f.label :custom_css %><br />
    <%= f.text_area :custom_css %>
  </div>
  <div class="actions">
    <%= f.submit "Update rules"%>
  </div>
<% end %>
