<% content_for :javascript do %>
  <%= javascript_include_tag "codemirror/lib/codemirror.js" %>
  <%= stylesheet_link_tag "codemirror/lib/codemirror.css" %>
  <%= javascript_include_tag "codemirror/mode/css/css.js" %>
  <%= stylesheet_link_tag "codemirror/theme/default.css" %>
<% end %>

<script type="text/javascript" language="javascript"> 
  $(document).ready(function() {
    var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("domain_custom_css"), {lineNumbers: true});
  });
</script>

<%= form_for(@domain) do |f| %>
  <% if @domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul>
      <% @domain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.admin? %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :rule %><br />
    <%= f.text_area :rule %>
  </div>
  <div class="field">
    <%= "Custom CSS rule:" %>
    <% f.label :custom_css %><br />
    <%= f.text_area :custom_css %>
  </div>
  <div class="actions">
    <%= f.submit "Update rules"%>
  </div>
<% end %>
