<h1>Editing domain <%= "#{@domain.name}" %></h1>

<% last_rule = Rule.find(:first, :order => "updated_at DESC", :limit => 1,
                               :conditions => { :domain_name => @domain.name } ) %>
<% if !last_rule.nil? %>
Last custom CSS rule. Changes made by <%= last_rule.user_name %>.<br/>
<div class="custom_css"><%= highlight(last_rule.custom_css) %></div>
<br/>
<% end %>

<%= render 'form' %>

<%= link_to 'Show', @domain %> |
<%= link_to 'Back', domains_path %>
