<p id="notice"><%# notice %></p>

<p>
  <b>Domain:</b>
  <%= @domain.name %>
</p>

<%# if current_user.admin? %>
<p>
  <b>Current title rule:</b>
  <%= @domain.title_rule %>
</p>
<p>
  <b>Current rule:</b>
  <%= @domain.rule %>
</p>
<%# end %>

<p>
  <b>Current custom CSS rule:</b>
  <div class="custom_css"><%= highlight(@domain.custom_css) %></div>
</p>
<% last_rule = History.find(:first, :order => "updated_at DESC", :limit => 1,
                               :conditions => { :domain_name => @domain.name } ) %>
<% if !last_rule.nil? %>
  Last changes made by <%= last_rule.user_name %>.<br/><br/>
<% end %>


<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>
