<p id="notice"><%# notice %></p>

<p>
  <b>Domain:</b>
  <%= @domain.name %>
</p>

<p>
  <b>Current title rule:</b>
  <%= @domain.title_rule %>
</p>
<p>
  <b>Current rule:</b>
  <%= @domain.rule %>
</p>

<p>
  <b>Current custom CSS rule:</b>
  <div class="custom_css"><%= highlight(@domain.custom_css) %></div>
</p>

<% if !last_rule(@domain).nil? %>
  Last changes were made <%= time_ago_in_words(last_rule(@domain).updated_at) %>
  by <%= last_rule(@domain).user_name %>.<br/><br/>
<% end %>


<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>
