<!DOCTYPE html>
<html>
<head>
  <title>Readissimo</title>
  <meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png"/>
  <link href='http://fonts.googleapis.com/css?family=PT+Serif&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= yield :javascript %>
  <% if is_mobile_device? %>
    <%= stylesheet_link_tag "mobile" %>
  <% else %>
    <%= stylesheet_link_tag "desktop" %>
  <% end %>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <style type="text/css"><%= yield :rawstyle %></style>
  <%= csrf_meta_tags %>
  <%= render "shared/ga" %>
</head>
<body>
<%= yield :top %>
<div class="header">
  <div class="container">
    <h1 class="logo"><a href="<%= root_path %>">Readissimo</a></h1>
    <ul class="nav">
      <% if signed_in? %>
        <li>Welcome <%= current_user.email %></li>
        <li>
          <%= form_for (Article.new), :remote => true do |f| %>
            <%= f.text_field :link %>
            <button>Submit</button>
          <% end %>
        </li>
        <% if current_user.admin? %>
          <li><%= button_to "Collect popular articles", :controller => "articles",
                                            :action => "popular_articles" %></li>
        <% end %>
        <li><%= link_to "Settings", settings_path, :title => "Settings", :class => "ico settings" %></li>
        <li><%= link_to "Sign out", signout_path, :method => :delete, :title => "Sign out", :class => "ico signout" %></li>

      <% end %>
    </ul>
  </div>
</div>

<% if notice %><div id="notice"><%= notice %></div><% end %>
<div id ="content" class="content">
  <div class="container">
    <%= yield %>
  </div>
</div>

<div id="footer" class="footer">
  <div class="container">
    <p>© 2011 Eugene Dorian, Alexander Lopez </p>
  </div>
</div>

</body>
</html>
