<!DOCTYPE html>
<html>
<head>
  <title>Readissimo</title>
  <meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png"/>
  <link href='http://fonts.googleapis.com/css?family=PT+Serif&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "home" %>
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png"/>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= yield :javascript %>
  <% if is_mobile_device? %>
    <%= stylesheet_link_tag "mobile" %>
    <%= javascript_include_tag "home-mobile" %>
  <% else %>
    <%= stylesheet_link_tag "desktop" %>
    <%= javascript_include_tag "home-desktop" %>
  <% end %>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <style type="text/css"><%= yield :rawstyle %></style>
  <%= csrf_meta_tags %>
</head>
<body class="home">

<div class="header">
  <h1 class="logo"><span class="r">R</span>eadissimo</h1>
</div>

<div id="content" class="content">
  <%= yield %>
</div>

<div id="footer" class="footer">
  <div class="divider"></div>
  <p>© 2011 Eugene Dorian, Alexander Lopez </p>
</div>

</body>
</html>
